.h2 {
    color: pink;
}
.div {
    color:  deepskyblue;
}
.p {
    color: orange;
}
.G {
    color: blue;
    font-size: 45px;
}
.o-1 {
    color: red;
    font-size: 45px;
}
.o-2 {
    color: orange;
    font-size: 45px;
}
.l {
    color: green;
    font-size: 45px;
}
